p {
    color: black;
}


ul {
    background-color: #008CBA;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:400px;
}

li {
    list-style-type: none;
    display: block;
    color:white;
    text-align:center;
    padding: 30px 64px;
    text-decoration: none;
}

li:hover {
    background-color: #007094;
}

div.gallery {
    margin:5px;
    float: left;
    display:inline-block;
    width:  180px;
}

div.desc {
    padding:15px;
    text-align: center;
}

.button_gallery {
    background-color: #008CBA;
    color: white;
    padding: 30px 64px;
    margin: -20px -50px;
    font-size: 30px;
    vertical-align:middle;
    text-align:center;
}

.button_gallery:hover {
    background-color: #007094;
}

.profile_header {
    background-color: #008CBA; /* Blue */
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position:relative;
    font-size: 20px;
    vertical-align:middle;
    text-align:center;
    height:100px;
    line-height:100px;
    width:100%;
    z-index:2;
}

.wrapper {
    text-align:center;
    position:relative;
    top:130px;
}

.upload {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 30px 64px;
    display:inline-block;
    text-decoration: none;
    font-size: 20px;
    margin: -20px -50px;
}

.albums {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 30px 64px;
    display:inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    vertical-align:middle;
    margin: -20px -50px;
}

.friend_search {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 30px 64px;
    display:inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    vertical-align:middle;
    margin: -20px -50px;
}

.logout {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 42px 60px;
    position:relative;
    top:0px;
}

.options {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 42px 60px;
    position:absolute;
    bottom:8px;
}

.options:hover {
    background-color: #007094;
}

.center {
    display:inline-block;
}

.signUp {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 30px 64px;
    display:inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    vertical-align:middle;
    margin: -20px -50px; 
    position:absolute;
    top:50%; 
    left:20%;
}

.logIn {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    display:inline-block;
    text-decoration: none;
    font-size: 20px;
    vertical-align:middle;
    margin: -20px -50px; 
    position:absolute;
    top:50%; 
    right:46%;
}

.visit {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    display:inline-block;
    text-decoration: none;
    font-size: 20px;
    vertical-align:middle;
    margin: -20px -50px; 
    position:absolute;
    top:50%; 
    right:20%;
}

.search {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    display:inline-block;
    text-decoration: none;
    font-size: 20px;
    vertical-align:middle;
    margin: -20px -50px;
    position:absolute;
    top:50%;
    right:40%;
}


.menu_button {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.menu {
    position: relative;
    display: inline-block;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    right:0;
}

.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-content a:hover {background-color: #f1f1f1}


.menu:hover .menu-content {
    display: block;
}

.menu:hover .menu_button {
    background-color: #3e8e41;
}


.signup:hover {
    background-color: #007094;
}

.logout:hover {
    background-color: #007094;
}

.friend_search:hover {
    background-color: #007094;
}

.albums:hover {
    background-color: #007094;
}

.upload:hover {
    background-color: #007094;
}

.login:hover {
    background-color: #007094;
}

.visit:hover {
    background-color: #007094;
}
