h1 {
    color: blueviolet;
    font-size: large;
    margin: 50px;
    background-color: lightslategrey;
}

p {
    color: black;
}


ul {
    background-color: #008CBA;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:400px;
}

li {
    list-style-type: none;
    display: block;
    color:white;
    text-align:center;
    padding: 30px 64px;
    text-decoration: none;
}

li:hover {
    background-color: #007094;
}

div.gallery {
    margin:5px;
    float: left;
    display:inline-block;
    width:  180px;
}

div.desc {
    padding:15px;
    text-align: center;
}

.button_gallery {
    background-color: #008CBA;
    color: white;
    padding: 30px 64px;
    margin: -20px -50px;
    font-size: 30px;
    vertical-align:middle;
    text-align:center;
}

.button_gallery:hover {
    background-color: #007094;
}

.profile_header {
    background-color: #008CBA; /* Blue */
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    vertical-align:middle;
    text-align:center;
    height:100px;
    line-height:100px;
}

.wrapper {
    text-align:center;
    position:relative;
    top:130px;
}

.upload {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 30px 64px;
    display:inline-block;
    text-decoration: none;
    font-size: 20px;
    margin: -20px -50px;
}

.albums {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 30px 64px;
    display:inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    vertical-align:middle;
    margin: -20px -50px;
}

.friend_search {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 30px 64px;
    display:inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    vertical-align:middle;
    margin: -20px -50px;
}

.logout {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 42px 60px;
    position:absolute;
    right:10px;
    top:8px;
}

.center {
    display:inline-block;
}

.signUp {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 30px 64px;
    display:inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    vertical-align:middle;
    margin: -20px -50px; 
    position:absolute;
    top:50%; 
    left:35%;
}

.logIn {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    display:inline-block;
    text-decoration: none;
    font-size: 20px;
    vertical-align:middle;
    margin: -20px -50px; 
    position:absolute;
    top:50%; 
    right:35%;
}

.signup:hover {
    background-color: #007094;
}

.logout:hover {
    background-color: #007094;
}

.friend_search:hover {
    background-color: #007094;
}

.albums:hover {
    background-color: #007094;
}

.upload:hover {
    background-color: #007094;
}

.login:hover {
    background-color: #007094;
}

