click==6.7
Flask==0.12.2
Flask-MySQL==1.4.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.13.3
pandas==0.21.0
PyMySQL==0.7.11
python-dateutil==2.6.1
pytz==2017.3
regex==2017.11.9
six==1.11.0
Werkzeug==0.12.2
