h1 {
    color: blueviolet;
    font-size: large;
    margin: 50px;
    background-color: lightslategrey;
}

p {
    color: black;
}

.signUp {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 30px 64px;
    display:inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    vertical-align:middle;
    margin: -20px -50px; 
    position:absolute;
    top:50%; 
    left:35%;
}

.logIn {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    display:inline-block;
    text-decoration: none;
    font-size: 20px;
    vertical-align:middle;
    margin: -20px -50px; 
    position:absolute;
    top:50%; 
    right:35%;
}

.signup:hover {
    background-color: #007094;
}

.login:hover {
    background-color: #007094;
}

div {
  width: 100px;
  height: 100px;
}

form {
    margin: -20px -50px; 
    position:absolute;
    left:50%;
}

.signupform {
    top:25%;
}

.loginform {
    top:45%;
}