<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<title> Upload </title>

<h1 class='profile_header'> See Albums Here </h1>

<a href="{{ url_for('logout') }}"><button class='logout'> LOG OUT </button></a>

<a href="{{ url_for('profile') }}"><button class='logout' style="left:10px"> {{ name }} </button></a>

<br>

{% if albums %}
<div class='wrapper'>
    <ul class='center'>
        {% for alb in albums %}
        <li><a href="{{ url_for('album_photos', album_name=alb) }}" style="text-decoration: none; color:white"> {{ alb }} </a> </li>
        {% endfor %}
        <li><a href="{{ url_for('upload') }}" style="text-decoration: none; color:white; font-size:30px"> + </a> </li>
    </ul>
</div>
{% else %}
<a href="{{ url_for('upload') }}"> <button class="button_gallery"> + </button></a>
{% endif %}