<title> {{ name }}'s Friends </title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<h1 class='profile_header' style="top:0">  {{ name }}'s Friends </h1>

<a href="{{ url_for('logout') }}"><button class='logout'> LOG OUT </button></a>

<a href="{{ url_for('profile') }}"><button class='logout' style="left:10px"> {{ name }} </button></a>

<div class='wrapper'>
    <ul class='center'>
        {% for friend in friends %}
        <a href="{{ url_for('view_profile', id=friend[0]) }}"><button class='logout' style="left:10px"> {{ friend[1] }} </button></a>
        {% endfor %}
    </ul>
</div>
