<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<h1 class='profile_header' style="top:8px"> Welcome to Lance and Wendy's Photoshare </h1>

<a href="{{ url_for('signup_page') }}"><button class='logout' style="right:170px"> SIGN UP </button></a>

<a href="{{ url_for('login_page') }}"><button class='logout' style="right:10px"> LOG IN </button></a>

<a href="{{ url_for('home') }}"><button class='logout' style="left:10px"> HOME </button></a>

<div class='wrapper'>
    <ul class='center'>
        {% for photo in photos %}
            <li>{{ photo[2] }}<br>
            <li> <a href="{{ url_for('view_photo', photo_id=photo[0]) }}"> <img src='data:image/jpg;base64, {{ photo[1] }}'/> </a> </li>
        {% endfor %}
    </ul>
</div>

