<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<h1 class='profile_header' style="top:8px"> Welcome to Lance and Wendy's Photoshare </h1>

<a href="{{ url_for('signup_page') }}"><button class='logout' style="right:170px"> SIGN UP </button></a>

<a href="{{ url_for('login_page') }}"><button class='logout' style="right:10px"> LOG IN </button></a>

<a href="{{ url_for('home') }}"><button class='logout' style="left:10px"> HOME </button></a>

<ul>
    {% for photo in photos %}
        <li>{{ photo[1] }}<br>
        <li><img src='data:image/jpg;base64, {{ photo[0] }}'/></li>
    {% endfor %}
</ul>

