<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<h1 class='profile_header'> {{ message }}</h1>

<a href="{{ url_for('home') }}"><button class='logout' style="left:10px"> BACK </button></a>

<div class='wrapper'>
    <form class="loginform" action="{{ url_for('profile') }}" method=POST>
        <ul class='center'>
            <li>
                Username<br>
                <input type=text name=email value="{{request.form.email}}"><br>
            </li>
            <li>
                Password<br>
                <input type=password name=password value="{{request.form.password}}"><br>
            </li>
            <li>
                <input type=submit value=login>
            </li>
        </ul>
    </form>
</div>