<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<title> {{ name }}'s Profile </title>

{% if loggedin %}

    <h1 class='profile_header' style="top:8px;position:fixed; margin-right:1em">
        <a href="{{ url_for('view_profile', id=userid) }}"><button class='logout' style="top:0px; float:left"> {{ username }} </button></a>

        {{ name }}

        <div class="dropdown" style="float:right; margin-right:1em;">
            <button class="dropbtn"> MENU </button>
            <div class="dropdown-content" style="right:0;">
                <a href="{{ url_for('upload', id=userid) }}"> UPLOAD </a>
                <a href="{{ url_for('view_all_albums', uploader_id=userid) }}"> MYALBUMS  </a>
                <a href="{{ url_for('view_friends', id=userid) }}"> MYFRIENDS </a>
                <a href="{{ url_for('search', id=userid) }}">  SEARCH </a>
                <a href="{{ url_for('recommendations', id=userid) }}"> YOU MAY ALSO LIKE </a>
                <a href="{{ url_for('logout') }}">  LOG OUT </a>
            </div>
        </div>
    </h1>


    {% if not myprofile %}
        <div class='wrapper'>
            <ul class='center'>
                <li><a href="{{ url_for('view_all_albums', uploader_id=id ) }}" style="text-decoration: none; color:white"> {{ name }}'s ALBUMS </a> </li>
                <li><a href="{{ url_for('view_friends', id=id) }}" style="text-decoration: none; color:white"> {{ name }}'s FRIENDS </a> </li>
                {% if not friends %}
                    <li><a href="{{ url_for('friend_add', friend_id=id) }}" style="text-decoration: none; color:white"> BE FRIENDS </a> </li>
                {% else %}
                    <li><a href="{{ url_for('unfriend', friend_id=id) }}" style="text-decoration: none; color:white"> UNFRIEND </a> </li>
                {% endif %}
            </ul>
        </div>
    {% else %}
        <div style="margin-top:120px">
        {% for photo in photos %}
            <a href="{{ url_for('view_photo', photo_id=photo[0]) }}">
                <img src='data:image/jpg;base64, {{ photo[1] }}' style="float:left; width:23%; margin-right:1%; margin-bottom:.5em"/>
            </a>
        {% endfor %}
            <p style="clear: both;"></p>
        </div>
    {% endif %}


{% else %}

    <h1 class='profile_header' style="top:8px; position:fixed">
        <a href="{{ url_for('home') }}"><button class='logout' style="top:0px; float:left"> HOME </button></a>

        {{ name }}

        <a href="{{ url_for('signup_page') }}"><button class='logout' style="top:0px; float:right"> SIGN UP </button></a>

        <a href="{{ url_for('login_page') }}"><button class='logout' style="top:0px; float:right"> LOG IN </button></a>

    </h1>

    <div class='wrapper'>
        <ul class='center'>
            <li><a href="{{ url_for('view_all_albums', uploader_id=id ) }}" style="text-decoration: none; color:white"> {{ name }}'s ALBUMS </a> </li>
            <li><a href="{{ url_for('view_friends', id=id ) }}" style="text-decoration: none; color:white"> {{ name }}'s FRIENDS </a> </li>
        </ul>
    </div>

{% endif %}


