<title> Welcome to Boston University! </title>
<link rel="stylesheet" type="text/css" href="../static/style.css">
<h1 class='profile_header'> Hey {{ name }} </h1>

<a href="{{ url_for('logout') }}"><button class='logout'> LOG OUT </button></a>

<div class='wrapper'>
    <ul class='center'>
        <li> <a href="{{ url_for('upload/{{name}}') }}"> UPLOAD </a> </li>
        <li><a href="{{ url_for('albums/{{name}}') }}"> MY ALBUMS </a> </li>
        <li><a href="{{ url_for('friendsearch/{{name}}') }}"> FRIENDS </a> </li>
    </ul>
</div>