<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<title> Upload </title>

<h1 class='profile_header' style="top:8px"> Upload Photos Here </h1>

<a href="{{ url_for('view_profile', id=id) }}"><button class='logout' style=" left:10px"> {{ name }} </button></a>

<a href="{{ url_for('logout') }}"> <button  class="logout" style="right:10px"> LOG OUT </button> </a>

<h1 class='profile_header' style="position:fixed; bottom:0; width:100%; height:100px; line-height:100px; vertical-align:middle; text-align:center; margin: 0;padding: 0;">
    <a href="{{ url_for('upload') }}"> <button class="logout" style="background-color:#007094; position:relative; bottom:8px; width:19%; display: inline-block; top:0"> UPLOAD </button> </a>
    <a href="{{ url_for('albums') }}"> <button  class="logout" style="position:relative; bottom:8px; width:19%; display: inline-block; top:0"> ALBUMS </button> </a>
    <a href="{{ url_for('friends') }}"> <button  class="logout" style="position:relative; bottom:8px; width:19%; display: inline-block;top:0"> FRIENDS </button> </a>
    <a href="{{ url_for('search') }}"> <button class="logout" style="position:relative; bottom:8px; width:19%; display: inline-block; top:0"> SEARCH </button> </a>
    <a href="{{ url_for('photo_recommend') }}"> <button  class="logout" style="position:relative; bottom:8px; width:19%; display: inline-block; top:0"> YOU MAY ALSO LIKE </button> </a>
</h1>
<div class='wrapper'>
    <form class="loginform" action="{{ url_for('create_album', id=id) }}" method=POST>
        <ul class='center'>
            <li>
                Album Name<br>
                <input type=text name=album value="{{request.form.album}}" maxlength=30><br>
            </li>
            <li>
                Photos <br>
                <input type=file name=img value="{{request.form.img}}" multiple><br>
            </li>
            <li>
                <input type=submit value=upload>
            </li>
        </ul>
    </form>
</div>