<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<title> {{ album_name }} </title>

<h1 class='profile_header' style="top:8px"> {{ album_name }} by {{ uploader_name }}</h1>

{% if loggedin %}

<a href="{{ url_for('view_profile', id=userid) }}"><button class='logout' style="left:10px"> {{ username }} </button></a>

<a href="{{ url_for('logout') }}"> <button  class="logout" style="right:10px"> LOG OUT </button> </a>

<h1 class='profile_header' style="position:fixed; bottom:0; width:100%; height:100px; line-height:100px; vertical-align:middle; text-align:center; margin: 0;padding: 0;">
    <a href="{{ url_for('upload', id=userid) }}"> <button class="logout" style="position:relative; bottom:8px; width:19%; display: inline-block; top:0"> UPLOAD </button> </a>
    <a href="{{ url_for('view_all_albums', uploader_id=userid) }}"> <button  class="logout" style="position:relative; bottom:8px; width:19%; display: inline-block; top:0"> MYALBUMS </button> </a>
    <a href="{{ url_for('friends', id=userid) }}"> <button  class="logout" style="position:relative; bottom:8px; width:19%; display: inline-block;top:0"> MYFRIENDS </button> </a>
    <a href="{{ url_for('search', id=userid) }}"> <button class="logout" style="position:relative; bottom:8px; width:19%; display: inline-block; top:0"> SEARCH </button> </a>
    <a href="{{ url_for('recommendations', id=userid) }}"> <button  class="logout" style="position:relative; bottom:8px; width:19%; display: inline-block; top:0"> YOU MAY ALSO LIKE </button> </a>
</h1>

{% else %}

<a href="{{ url_for('signup_page') }}"><button class='logout' style="right:170px"> SIGN UP </button></a>

<a href="{{ url_for('login_page') }}"><button class='logout' style="right:10px"> LOG IN </button></a>

<a href="{{ url_for('home') }}"><button class='logout' style="left:10px"> HOME </button></a>

{% endif %}

<div class='wrapper'>
    <ul class='center'>
        {% for photo in photos %}
            <li><a href="{{ url_for('view_photo', photo_data=photo) }}" style="text-decoration: none; color:white"> {{ photo }} </a> </li>
        {% endfor %}
           <li><a href="{{ url_for('view_profile', id=uploader_id) }}"> {{ uploader_name }}</a></li>
    </ul>
</div>
