<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<title> {{ photo[1] }} </title>

{% if loggedin %}

<h1 class='profile_header' style="overflow: hidden; position: fixed; top: 0; width: 100%;">
    <a href="{{ url_for('view_profile', id=userid) }}"><button class='logout' style="top:0px; float:left"> {{ username }} </button></a>

    {{ photo[1] }}

    <a href="{{ url_for('logout') }}"> <button  class="logout" style="top:0px; float:right"> LOG OUT </button> </a>
</h1>


<div class="wrapper" style="top:0">
    <ul class="center">
        <li style="background-color: white">
            <img src='data:image/jpg;base64, {{ photo[0] }}'/>
        </li>
        <li>
            <a href="{{ url_for('view_profile', id=uploader_id) }}" style="text-decoration: none; color:white"> {{ uploader_name }} </a>
        </li>
        <li>
            <a href="{{ url_for('view_album_content', album_id=album_id) }}" style="text-decoration: none; color:white;"> {{ album_name }} </a>
        </li>
        {% for comment in comments %}
            <li> <a href="{{ url_for('view_profile', id=comment[0]) }}">  {{ comment[1] }} </a> said: {{ comment[2] }}</li>
        {% endfor %}
        <li>
            <form class='comments' action="{{ url_for('comment', photo_id=photo[2]) }}" method=POST>
                <input type="text" name=comment maxlength=300 required placeholder=" make a comment?" ><br>
                <input type="submit" value="COMMENT">
            </form>
        </li>
    </ul>
</div>




<h1 class='profile_header' style="position:relative; float:bottom; bottom:0; width:100%; height:100px; line-height:100px; vertical-align:middle; text-align:center; margin: 0;padding: 0;">
    <a href="{{ url_for('upload', id=userid) }}"> <button class="logout" style="width:19%; display: inline-block; top:0"> UPLOAD </button> </a>
    <a href="{{ url_for('view_all_albums', uploader_id=userid) }}"> <button  class="logout" style="width:19%; display: inline-block; top:0"> MYALBUMS </button> </a>
    <a href="{{ url_for('friends', id=userid) }}"> <button  class="logout" style="width:19%; display: inline-block;top:0"> MYFRIENDS </button> </a>
    <a href="{{ url_for('search', id=userid) }}"> <button class="logout" style=" width:19%; display: inline-block; top:0"> SEARCH </button> </a>
    <a href="{{ url_for('recommendations', id=userid) }}"> <button  class="logout" style=" width:19%; display: inline-block; top:0"> YOU MAY ALSO LIKE </button> </a>
</h1>


{% else %}

<h1 class='profile_header' style="top:8px">
    <a href="{{ url_for('home') }}"><button class='logout' style="top:0px; float:left"> HOME </button></a>

    {{ photo[1] }}

    <a href="{{ url_for('signup_page') }}"><button class='logout' style="top:0px; float:right"> SIGN UP </button></a>

    <a href="{{ url_for('login_page') }}"><button class='logout' style="top:0px; float:right"> LOG IN </button></a>
</h1>

<div class="wrapper" style="float:top">
    <img src='data:image/jpg;base64, {{ photo[0] }}' style="width:50%; margin-bottom:.5em"/>
</div>

<div class="wrapper" style="float:top">
    <a href="{{ url_for('view_profile', id=uploader_id) }}" style="background-color:black; text-decoration: none; color:white; padding: 30px 65px; margin-top:.5em; margin-bottom:.5em"> {{ uploader_name }} </a>

    <a href="{{ url_for('view_album_content', album_id=album_id) }}" style="background-color:black; text-decoration: none; color:white; padding: 30px 65px; margin-top:.5em; margin-bottom:.5em"> {{ album_name }} </a>

    {% for comment in comments %}
        <div class="comments"> <a href="{{ url_for('view_profile', id=comment[0]) }}">  {{ comment[1] }} </a> said: {{ comment[2] }}</div>
    {% endfor %}
</div>
{% endif %}



