<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<h1 class='profile_header' style="top:8px; position:fixed">

    <a href="{{ url_for('home') }}"><button class='logout' style="top:0px; float:left"> HOME </button></a>

    <a href="{{ url_for('top_users') }}"><button class='logout' style="top:0px; float:left"> TOP USERS </button></a>

    <a href="{{ url_for('search') }}"><button class='logout' style="top:0px; float:left"> SEARCH </button></a>

    Welcome

    <a href="{{ url_for('signup_page') }}"><button class='logout' style="top:0px; float:right"> SIGN UP </button></a>

    <a href="{{ url_for('login_page') }}"><button class='logout' style="top:0px; float:right"> LOG IN </button></a>

</h1>

<div style="margin-top:120px">
    {% for photo in photos %}
        <a href="{{ url_for('view_photo', photo_id=photo[0]) }}">
            <img src='data:image/jpg;base64, {{ photo[1] }}' style="float:left; width:23%; margin-right:1%; margin-bottom:.5em"/>
        </a>
    {% endfor %}
    <p style="clear: both;"></p>
</div>

<footer>
  <div class="footer-top">
    <div class="wrapper" style="float:top">
      &copy 2017 Lance Galletti
    </div>
    <div style="foat:bottom">
        <ul style=" width: 100%; margin: 0; padding: 0;">
            <li class="github" style=" box-sizing: border-box; display: inline-block; list-style: outside none none; float: left; overflow: hidden; width: 33.3333%; font-size: 20px;">
                <a href="https://github.com/galletti94" style="text-decoration:none; color:black">GitHub</a>
            </li>
            <li class="website" style=" box-sizing: border-box; display: inline-block; list-style: outside none none; float: left; overflow: hidden; width: 33.3333%; font-size: 20px;">
                <a href="http://gallettilance.org" style="text-decoration:none; color:black" data-hover="background: #ffffff"> My Website </a>
            </li>
            <li class="linkedin" style=" box-sizing: border-box; display: inline-block; list-style: outside none none; float: left; overflow: hidden; width: 33.3333%; font-size: 20px;">
                <a href="https://linkedin.com/in/lancegalletti" style="text-decoration:none; color:black">LinkedIn</a>
            </li>
        </ul>
    </div>
  </div>
</footer>
