<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<title> search </title>

{% if loggedin %}

    <h1 class='profile_header' style="top:8px;position:fixed; margin-right:1em">
        <a href="{{ url_for('view_profile', id=userid) }}"><button class='logout' style="top:0px; float:left"> {{ username }} </button></a>

        {{ tag }}

        <div class="dropdown" style="float:right; margin-right:1em;">
            <button class="dropbtn"> MENU </button>
            <div class="dropdown-content" style="right:0;">
                <a href="{{ url_for('upload', id=userid) }}"> UPLOAD </a>
                <a href="{{ url_for('view_all_albums', uploader_id=userid) }}"> MYALBUMS  </a>
                <a href="{{ url_for('view_friends', id=userid) }}"> MYFRIENDS </a>
                <a href="{{ url_for('search', id=userid) }}">  SEARCH </a>
                <a href="{{ url_for('recommendations', id=userid) }}"> YOU MAY ALSO LIKE </a>
                <a href="{{ url_for('logout') }}">  LOG OUT </a>
            </div>
        </div>
    </h1>

{% else %}

<h1 class='profile_header' style="top:8px">
    <a href="{{ url_for('home') }}"><button class='logout' style="top:0px; float:left"> HOME </button></a>

    {{ tag }}

    <a href="{{ url_for('signup_page') }}"><button class='logout' style="top:0px; float:right"> SIGN UP </button></a>

    <a href="{{ url_for('login_page') }}"><button class='logout' style="top:0px; float:right"> LOG IN </button></a>

</h1>

{% endif %}


<div class='wrapper'>
    <form class='search_form' action="{{ url_for('search') }}" id="searchform" method=POST>
        Search:
        <input type=text name=search_word value="{{request.form.search_word}}" required maxlength=25 placeholder="input your search contain here">

        <input type="submit" value="search">
    </form>

    <select name="search_type" form = "searchform">
            <option value="photo">Photo</option>
            <option value="user">User</option>
            <option value="comment" selected = "selected">Comment</option>
    </select>
</div>

<!-- render search results  -->
{%  if (search_type == 'users') or (search_type == 'comments') %}
    <div class="wrapper">
        <ul class="center">
            {% for result in search_results %}
                <li> <a href="{{ url_for('view_profile', id=result[0]) }}"> {{ result[1] }} </a> </li>
            {% endfor %}
        </ul>
    </div>
{%  else %}
    <div class="wrapper">
        {% for result in search_results %}
            <a href="{{ url_for('view_photo', photo_id=result[0]) }}">
                <img src='data:;base64, {{ result[1] }}' style="float:left; width:23%; margin-right:1%; margin-bottom:.5em"/>
            </a>
        {% endfor %}
    </div>
{% endif %}
