<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

      <title> Top Tags </title>

      <link type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
      <link type="text/css" href="{{ url_for('static', filename='thumbnail-gallery.css') }}" rel="stylesheet">

  </head>

  <body>

{% if loggedin %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{{ url_for('view_profile', id=userid) }}">{{ username }}</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="line-height: 36px">
                    <a class="nav-link" href="{{ url_for('top_users') }}"> TOP USERS </a>
                </li>
                <li class="nav-item" style="line-height: 36px">
                    <a class="nav-link" href="{{ url_for('all_users') }}"> ALL USERS </a>
                </li>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <div class="dropdown bg-dark" style="float:right; margin-right:1em;">
                        <button class="dropbtn nav-link bg-dark" style="padding: 10px 30px"> MENU </button>
                        <div class="dropdown-content bg-dark" style="right:0;">
                            <a href="{{ url_for('upload', id=userid) }}"> CREATE ALBUM </a>
                            <a href="{{ url_for('view_all_albums', uploader_id=userid) }}"> MY ALBUMS  </a>
                            <a href="{{ url_for('view_my_tags', id=userid) }}"> MY TAGS </a>
                            <a href="{{ url_for('view_friends', id=userid) }}"> MY FRIENDS </a>
                            <a href="{{ url_for('search', id=userid) }}">  SEARCH </a>
                            <a href="{{ url_for('recommendations', id=userid) }}"> YOU MAY ALSO LIKE </a>
                            <a href="{{ url_for('logout') }}">  LOG OUT </a>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </nav>
{% else %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Lance and Wensi's PhotoShare</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">HOME
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login_page') }}">LOGIN </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('signup_page') }}"> SIGN UP </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('search')}}" > SEARCH </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('top_users') }}">TOP-USERS
                    </a>
                </li>
            </ul>
        </div>
    </nav>

{% endif %}

<h4 class="my-4 text-center text-lg-center"> Top Tags </h4>

<div class="container-fluid" style="margin-top:20px">
    {% for toptag in top10 %}
        <a href="{{ url_for('view_tag', tag=toptag) }}" style="background-color:#495057; text-decoration: none; color:white; float:left; padding: 65px 65px; margin-right:1%; margin-bottom:.5em"> {{ toptag }} </a>
    {% endfor %}
    <p style="clear: both;">
</div>


       <!-- Footer -->
    <footer class="py-4 bg-dark fixed-bottom">
        <p class="m-0 text-center text-white">Copyright &copy; <a href="http://gallettilance.org" style="color:white; text-decoration: none">Lance Galletti</a> & Wensi You 2017</p>
    </footer>

  </body>
</html>