<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<title> {{ photo[1]|safe }} </title>

{% if loggedin %}
    <h1 class='profile_header' style="top:8px;position:fixed; margin-right:1em">
        <a href="{{ url_for('view_profile', id=userid) }}"><button class='logout' style="top:0px; float:left"> {{ username }} </button></a>

        {{ photo[1]|safe }}

        <div class="dropdown" style="float:right; margin-right:1em;">
            <button class="dropbtn"> MENU </button>
            <div class="dropdown-content" style="right:0;">
                <a href="{{ url_for('upload', id=userid) }}"> UPLOAD </a>
                <a href="{{ url_for('view_all_albums', uploader_id=userid) }}"> MYALBUMS  </a>
                <a href="{{ url_for('view_friends', id=userid) }}"> MYFRIENDS </a>
                <a href="{{ url_for('search', id=userid) }}">  SEARCH </a>
                <a href="{{ url_for('recommendations', id=userid) }}"> YOU MAY ALSO LIKE </a>
                <a href="{{ url_for('logout') }}">  LOG OUT </a>
            </div>
        </div>
    </h1>


<div style="margin-top:120px">
    <div class="wrapper" style="top:0">
        <ul class="center">
          <li style="background-color: white">
	    <p> {{ photo[0] }} </p>
                <img src='data:;base64, {{ photo[0] }}' style="width:75%"/>
            </li>
            {% if mypic %}
                <li>
                    <a href="{{ url_for('delete_photo', photo_id=photo[2]) }}" style="background-color:#cc0404 ;text-decoration: none; color:white"> DELETE </a>
                </li>
            {% endif %}
            {% if likedby %}
                <li>
                    {{ like_num }} likes:
                    {% for user in likedby %}
                         <a href="{{ url_for('view_profile', id=user[0]) }}" > {{ user[1] }}</a>,
                    {% endfor %}
                </li>
            {% endif %}
            {% if not liked %}
                <li>
                    <a href="{{ url_for('like', photo_id=photo[2]) }}" style="text-decoration: none; color:white"> LIKE </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ url_for('unlike', photo_id=photo[2]) }}" style="text-decoration: none; color:white"> UNLIKE </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ url_for('view_profile', id=uploader_id) }}" style="text-decoration: none; color:white"> {{ uploader_name }} </a>
            </li>
            <li>
                <a href="{{ url_for('view_album_content', album_id=album_id) }}" style="text-decoration: none; color:white;"> {{ album_name }} </a>
            </li>
            {% for comment in comments %}
                {% if comment[1] != 'anon' %}
                <li>
                    <a href="{{ url_for('view_profile', id=comment[0]) }}">
                        {{ comment[1] }}
                    </a>
                    said: {{ comment[2]|safe }}
                    {% if userid == comment[0] %}
                    <a href="{{ url_for('delete_comment', comment_id=comment[3]) }}" style="background-color:#cc0404 ;text-decoration: none; color:white"> DELETE </a>
                    {% endif %}
                </li>
                {% else %}
                <li> {{ comment[1] }} said: {{ comment[2]|safe }} </li>
                {% endif %}
            {% endfor %}
            {% if not userid == uploader_id %}
            <li>
                <form class='comments' action="{{ url_for('comment', photo_id=photo[2]) }}" method=POST>
                    <input type="text" name=comment maxlength=300 required placeholder=" make a comment?" ><br>
                    <input type="submit" value="COMMENT">
                </form>
            </li>
            {% endif %}
        </ul>
    </div>
</div>


{% else %}

    <h1 class='profile_header' style="top:8px; position:fixed">
        <a href="{{ url_for('home') }}"><button class='logout' style="top:0px; float:left"> HOME </button></a>

        {{ photo[1]|safe }}

        <a href="{{ url_for('signup_page') }}"><button class='logout' style="top:0px; float:right"> SIGN UP </button></a>

        <a href="{{ url_for('login_page') }}"><button class='logout' style="top:0px; float:right"> LOG IN </button></a>

    </h1>

<div style="margin-top:120px">
    <div class="wrapper" style="top:0">
        <ul class="center">
            <li style="background-color: white">
                <img src='data:;base64, {{ photo[0] }}' style="width:75%"/>
            </li>
            {% if likedby %}
                <li>
                    {{ like_num }} likes:
                    {% for user in likedby %}
                        <a href="{{ url_for('view_profile', id=user[0]) }}"> {{ user[1] }}</a>,
                    {% endfor %}
                </li>
            {% endif %}
            <li>
                <a href="{{ url_for('view_profile', id=uploader_id) }}" style="text-decoration: none; color:white"> {{ uploader_name }} </a>
            </li>
            <li>
                <a href="{{ url_for('view_album_content', album_id=album_id) }}" style="text-decoration: none; color:white;"> {{ album_name }} </a>
            </li>
            {% for comment in comments %}
                {% if comment[1] != 'anon' %}
                    <li> <a href="{{ url_for('view_profile', id=comment[0]) }}">  {{ comment[1] }} </a> said: {{ comment[2]|safe }}</li>
                {% else %}
                    <li> {{ comment[1] }} said: {{ comment[2]|safe }}</li>
                {% endif %}
            {% endfor %}
            <li>
                <form class='comments' action="{{ url_for('comment', photo_id=photo[2]) }}" method=POST>
                    <input type="text" name=comment maxlength=150 required placeholder=" make an anonymous comment?" ><br>
                    <input type="submit" value="COMMENT">
                </form>
            </li>
        </ul>
    </div>
</div>

{% endif %}



